@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    width: 100vm;
}

a {
    text-decoration: none;
    color: inherit;
}
button {
    padding: 10px 15px;
    border-radius: 50px;
    font-weight: bold;
    border: 1px solid rgb(204, 199, 199);
    background: whitesmoke;
    color: #cc0e00;
}

header {
    margin-top: 10px;
}

header nav {
    display: flex;
    justify-content: space-around;
    margin: auto 30px;
    text-decoration: none;
                                }
                                         
header nav p {
    font-weight: bold;
}

header nav ul {
    list-style: none;
    display: flex;
    margin-top: 10px;
                       }

header nav ul li {
    margin: 0 15px;
       color:inherit;
                }

                header nav ul li:hover {
                   color:  white;
                    }
.header-content {
    max-width: 400px;
    margin: 150px auto;
    text-align: center;
}

form{
    width: 50%;
    margin: 0 auto;
    box-shadow: 0 4px 8px #999;
}

input, textarea{
    width: 100%;
padding: 10px;
margin-bottom: 1em;

}

label{
    font-weight: bold;
}

.row{
    padding: 0 20px;
    display:table;
    width: 100%;
   }

   .contato{
       margin-top: 20px;
   width:100%;
    padding: 20px;
        background-color: rgb(223, 218, 218);
        text-align:center;
   text-indent: 50px;
   color: grey;
   
               }

        footer{
            margin-top: 50px;
    width: 100%;
    min-height: 250px;
    background: rgb(214, 213, 213);
    display: flex;
    align-items: center;
}
footer ul li{
color:gray;
}
footer .boxs{
    width:520px;
    right:0px;
    min-height: 150px;
    padding: 20px;
    position: relative
              }

s:nth-child(4){
    width: 400px;
    }

    .boxs h5{
        color: white;
margin-bottom: 20px;
margin-left: 40px;
    }

    .boxs ul li{
        margin: 10px 0px;
        list-style: none;
        }

        .boxs ul li a{
            color: grey;
            text-decoration: none;
                    }
       .boxs ul li a:hover{
           color:#ffff
           }
          
           .pagamento{
            width: 270px;
            height: 150px;
            margin-left: 15px;
           }
@media (max-width: 480px) {
    header nav ul {
        position: absolute;
    }
}

@media (max-width: 767px) {
    header nav ul {
        position: absolute;
    }
}